#ddPager-header{
	padding-bottom: 5px;
}

#ddPager li,
.links li {
	display: inline;
}

#ddPager{
	padding:0;
	list-style-type:none;
}

#ddToggleSearchingMethodSearch {cursor: pointer;}
#ddToggleSearchingMethodMatch {cursor: pointer;}

#radioOptionsTable tbody tr td{
	padding-right: 20px;
}

.panel.menuItemPanel{
	margin-left: 30px;
	margin-right: 30px;
}

.panel.menuItemPanel:hover{
	cursor:pointer;
}

.panel.menuItemPanel:hover .menuItemImage{
	background:#d9d9d9;
}

.menuItemImage{
	background:gray;
	width:100%;
	height:200px
}

.listTitle{
	cursor: pointer;
}

.panel.panel-default.panelNoRadius{
	border-radius: 0;
}

.form-control.selectNoRadius{
	border-radius: 0;
}

.linkTitle{
	display: inline-flex;
  justify-content: center;
  align-items: center;
}

.titleLinkPast{
	margin-bottom: 10px;
}

.titleLinkCurrent{
	margin-bottom: 10px;
	font-size: 16px;
}

.btn.btn-link.addLink{
	padding: 0;
	font-size: inherit;
}

.tw-bs .btn-success{
	border-radius: 0;
}

/**Override SSI styles**/
.formp{
	max-width:none;
}

.tw-bs .clearfix:after, .tw-bs .dl-horizontal dd:after, .tw-bs .container:after, .tw-bs .container-fluid:after, .tw-bs .row:after, .tw-bs .form-horizontal .form-group:after, .tw-bs .btn-toolbar:after, .tw-bs .btn-group-vertical > .btn-group:after, .tw-bs .nav:after, .tw-bs .navbar:after, .tw-bs .navbar-header:after, .tw-bs .navbar-collapse:after, .tw-bs .pager:after, .tw-bs .panel-body:after, .tw-bs .modal-footer:after {
	clear: none;
}

.tw-bs input[type="radio"], .tw-bs input[type="checkbox"] {
	margin: 0 0 0;
	margin-top: 1px \9;
	line-height: normal;
}
